* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --index: calc(1vw + 1vh)
}

body {
  background-image: url(./assets/background.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

::-webkit-scrollbar-thumb {
  background: #fac564;
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  background: #0a0a0a;
}

@font-face {
  font-family: Caveat;
  src: url(./assets/fonts/Caveat-Regular.ttf);
}

@font-face {
  font-family: Merienda;
  src: url(./assets/fonts/Merienda-Medium.ttf);
}

@font-face {
  font-family: Work Sans;
  src: url(./assets/fonts/WorkSans-Light.ttf);
}

@font-face {
  font-family: Work Sans;
  src: url(./assets/fonts/WorkSans-Regular.ttf);
}

