.contact{
    height: 70vh;
    display: flex;
    flex-direction: row;
}
.map_section{
    height: 100%;
    width: 50%;
}
.contact_section{
    height: 100%;
    width: 50%;
    background-color: #000;
    padding: 100px;
}

.contact_form input{
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    color: #fac564;
    background-color: #000;
    border-bottom: 1px solid rgb(136, 136, 136);
    padding: 30px 0;
}

.contact_form input:hover{
    border-bottom: 1px solid #fac564;
}

.contact_form input:blank{
    border-bottom: 1px solid red;
}

.contact_form input::placeholder{
   color: rgba(255,255,255, .8);
}

.contact_h1 h1{
    margin: 20px 0;
    color: #fff;
    font-size: calc(var(--index)*1.3);
    font-weight: 500;
}

.contact_button{
    width: 100px;
    height: 50px;
    margin: 20px 0;
    background: #fac564;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: all .5s ease;
}

.contact_button a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact_button:hover{
    transform: scale(1.1);
    background: none;
    border: 1px solid #fac564;
    color: #fac564;
}

.contact_button a:hover{
    color: #fac564;
}

@media(max-width: 1000px){
    .contact_section{
        padding: 50px;
    }
}

@media(max-width: 750px){
    .contact{
        flex-direction: column;
        height: 120vh;
    }
    .map_section{
        height: 50%;
        width: 100%;
    }
    .contact_section{
        height: 50%;
        width: 100%;
    }
}