.footer{
    height: 80vh;
    background: #101315;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_container{
    width: 90%;
    height: 60%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}

.footer_container_top{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer_about{
    height: 100%;
    padding: 10px;
}

.footer_about_info{
    height: 60%;
    width: 100%;
}

.footer_about_info h1{
    color: #fff;
    font-size: calc(var(--index)*.8);
    margin: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 300;
}

.footer_about_info p{
    color: rgba(255, 255, 255, .7);
    font-size: calc(var(--index)*0.6);
    line-height: 30px;
    margin: 10px;
    margin-right: 40px;
    letter-spacing: 1.4px;
    
}

.footer_services{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.footer_services h1{
    color: #fff;
    font-size: calc(var(--index)*.8);
    margin: 20px 10px 10px 10px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 300;
}

.footer_services_links{
    height: 80%;
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer_services_links a{
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
    font-size: calc(var(--index)*.6);
    margin: 10px 0;
    transition: all .5s ease;
}

.footer_services_links a:hover{
    color: #fff;
}

.footer_question{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.footer_question h1{
    color: #fff;
    font-size: calc(var(--index)*0.8);
    margin: 20px 10px 10px 10px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 300;
}

.footer_question_info{
    width: 100%;
    height: 50%;
}

.footer_question_info_box{
    display: flex;
    flex-direction: row;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
}

.footer_question_p{
    font-family: 'Work Sans', sans-serif;
    margin: 0 10px;
}

.footer_question_p a{
    text-decoration: none;
    color: #ffffffb3;
    font-size: calc(var(--index)*0.6);
}

.footer_question_p p{
    font-size: calc(var(--index)*0.6);
    color: #ffffffb3;
}

.footer_container_bottom{
    width: 100%;
    height: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer_container_bottom p{
    display: flex;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: calc(var(--index)*0.6); 
    letter-spacing: 1.5px;
    color: #ffffffb3;
}

.social_apps{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.social_apps_circle{
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: all .5s ease;
}

.social_apps_circle:hover{
    transform: scale(1.1);
}

.social_apps_icon{
    background:rgba(255, 255, 255, 0.05);
    border-radius: 40%;
    padding: 10px;
    width: 100%;
    height: 100%;
    color: #fff;
    cursor: pointer;
}


@media(max-width: 900px) {
    .footer_about_info{
        height: 70%;
    }
}

@media(max-width: 760px){
    .footer{
        height: 100vh;
    }
    .footer_container{
        height: 90%;
    }
    .footer_about_info{
        height: 50%;
    }
    .footer_container_top{
        flex-direction: column;
        height: 90%;
    }
    .footer_question_p p,
    .footer_question_p a,
    .footer_container_bottom p,
    .footer_services_links a,
    .footer_about_info p {
        font-size: calc(var(--index)*0.9)
    }
}

