.content a, p{
    text-decoration: none;
    color: rgba(255, 255, 255);
    font-weight: 400;
    font-size: calc(var(--index)*0.6);
}

.container_info span{
    color: rgba(255, 255, 255, .4);
    font-weight: 300;
    font-size: calc(var(--index)*0.5);
}

.info{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
}

.left_content {
    font-family: "Work Sans", sans-serif;
    width: 70%;
    height: 100%;
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 70px;
}

.container{
    width: 33%;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: flex-start;
    flex-direction: row;
}

.container_logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container_info{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}

.content{
    display: flex;
    justify-content: center;
    text-align: flex-start;
    align-items: flex-start;
}

.content_logo{
    margin-right: 10px;
}

.right_content{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    background-color: #fac564;
}

.social {
    display: flex;
}

.social_logo{
    margin: 0 10px;
    cursor: pointer;
}

@media(max-width: 1160px) {
    .info{
        flex-direction: column;
    }
    .left_content{
        width: 100%;
        height: 65%;
        padding-right: 0;
    }
    .right_content{
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 0;
    }
   .content a, p{
        font-size: calc(var(--index)*0.9);
    }
    .container_info span{
        font-size: calc(var(--index)*0.75);
    }
    container{
        width: 33%;
    }
}

@media(max-width: 855px) {
    .content a, p{
        font-size: calc(var(--index)*0.7);
    }
    .container_info span{
        font-size: calc(var(--index)*0.55);
    }
}

@media(max-width: 440px) {
    .info{
        height: 200px;
    }
    .container{
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .content a, p{
        font-size: calc(var(--index)*0.75);
    }
    .container_info span{
        font-size: calc(var(--index)*0.6);
    }
    .left_content{
        flex-direction: column;  
        justify-content: space-evenly; 
    }
    .container_logo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}