a {
   text-decoration: none;
}

.main{
   height: 95vh;
   background-image: url(../assets/main.jpeg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.cover{
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, .6);
   display: flex;
   justify-content: center;
   align-items: center;
}

.main_content {
   width: 80%;
   height: 50%;
   display: flex  ;
   align-items: center;
   text-align: center;
   flex-direction: column;
   color: #fff;
}

.main_content h2 {
   font-family: 'Caveat', sans-serif;
   font-weight: 400;
   color: #fac564;
   font-size: calc(var(--index)*2.5);
}

.main_content h1 {
   font-family: 'Merienda', sans-serif;
   font-weight: 500;
   font-size: calc(var(--index)*2);
   text-transform: uppercase;
   line-height: 1.5;
   letter-spacing: 1px;
}

.main_content span {
   margin: 30px 0;
   font-family: 'Raleway', sans-serif;
   font-size: calc(var(--index)*0.8);
   letter-spacing: 1px;
}

.buttons{
   width: 100%;
   margin-top: -40px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.order_now {
   width: 120px;
   height: 45px;
   background: #fac564;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 5px;
}
.order_now a {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 500;
   text-decoration: none;
   color: #000;
}
.order_now:hover {
   background: none;
   border: 1px solid #fac564;
}
.order_now a:hover{
   color: #fac564;
}

.view_menu {
   width: 120px;
   height: 45px;
   background: none;
   border: 1px solid #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 5px;
}
.view_menu a {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 500;
   text-decoration: none;
   color: #fff;
}
.view_menu:hover {
   background: #fac564;
   border: none;
}
.view_menu a:hover{
   color: #000;
}
