.main_nav{
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 3;
    background-color: #121618;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.icon{
    width: 50%;
}
.menu{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #ffffffb3;
}
.link{
    color: #ffffffb3;
    text-decoration: none;
    font-weight: 500;
}
.link:hover{
    color: #fac564;
}
.link:focus{
    color: #fac564;
}