@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Moonrocks&family=Ubuntu&display=swap');

:root {
    --index: calc(1vw + 1vh);
}


.form-auth {
    width: calc(var(--index) * 15);
    
}

.form-auth > form {
    margin-top: calc(var(--index) * 1);
    padding: calc(var(--index) * 1.3);
    color: #C3073F;
    background-color: transparent;
    border-radius: 2vw;
    border: 3px #C3073F solid;
    box-shadow: 0 0 5vw #6F2232, inset 0 0 3vw #6F2232;
}

.form-auth > .error {
    padding: 10%;
    color: #FFDA6A;
    background-color: #332701;
    border-radius: 2vw;
    border: 3px #664D03 solid;
    box-shadow: 0 0 2vw #705402;
}

.form-auth > form > h1 {
    position: relative;
    padding: calc(var(--index) * .6) 0;
}
.form-auth > form > h1::after,
.form-auth > form > h1::before {
    position: absolute;
    border: 2px solid #6F2232;
    content: '';
    border-radius: calc(var(--index) * 1);
    width: calc(var(--index) * 1);
    height: calc(var(--index) * .5);
    animation-name: logo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.form-auth > form > h1::before {
    top: 0%;
    left: 0%;
    animation-delay: 3s;
}

.form-auth > form > h1::after {
    bottom: 0%;
    left: calc(100% - var(--index));
}

@keyframes logo {
    0% {
        left:0%;
    }
    100% {
        left: calc(100% - var(--index));
    }
}

.auth-elem > input:-webkit-autofill,
.auth-elem > input:-webkit-autofill:focus,
.auth-elem > input:-webkit-autofill:hover {
    -webkit-text-fill-color: #FFDA6A;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.auth-submit, .auth-elem > input {
    background-color: transparent;
    position: relative;
    padding: calc(var(--index) * .2);
    display: block;
    border-radius: calc(var(--index) * 1);
    border: 3px #C3073F solid;
    margin: calc(var(--index) * .4) 0px;
    width: calc(var(--index) * 10);
    color: #FFDA6A;
    outline: none;
    transition: all linear .5s;
}

.auth-submit {
    text-align: center;
    left: calc(var(--index) * 1);
}

.auth-elem > input {
    text-indent: calc(var(--index) * 1);
}

.auth-elem > input::-webkit-input-placeholder {
    color: #FFDA6A;
    font-style: italic;
    transition: all linear .5s;
}

.auth-elem > input:focus {
    border: 3px #57BDBB solid;
    box-shadow: 0px 0px 5px #3d9896, inset 0 0 10px #181818;
    padding: calc(var(--index) * .4) 0px;
    width: calc(var(--index) * 12);
}

.auth-elem > input:focus::-webkit-input-placeholder {
    color: transparent
}
.auth-logo {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

