{% extends "base.html" %}

{% block title %}
Войти
{%endblock%}

{% block main %}
<div class="root">
    <div class="form-auth">
        {% if message %}
        <div class="error bs-danger-bg-subtle">{{ message }}</div>
        {% endif %}
        <form action='' method="post">
            <div class="elem-login"><input type="email" name="email" placeholder="Введите почту" value="{{ email }}"></div>
            <div class="elem-login"><input type="password" name="password" placeholder="Введите пароль"></div>
            <div class="remember elem-login">
                <input type="checkbox" name="remember" placeholder="Запомнить меня">
                Запомнить меня
            </div>
            <button type="submit">Войти</button>
        </form>
    </div>
</div>
{%endblock%}