{% extends "base.html" %}

{% block title %}
Регистрация
{%endblock%}

{% block main %}
<div class="root">
    <div class="form-auth">
        {% if message %}
        <div class="error">{{ message }}</div>
        {% endif %}
        <form action='' method="post" autocomplete="off">
            <h1 class="auth-logo">Регистрация</h1>
            <div class="register-elem auth-elem"><input value="{% if message %}{{ data['name'] }}{% endif %}" name="name" type="text" placeholder="Введите имя"></div>
            <div class="register-elem auth-elem"><input value="{% if message %}{{ data['surname'] }}{% endif %}" name="surname" type="text" placeholder="Введите фамилию"></div>
            <div class="register-elem auth-elem"><input value="{% if message %}{{ data['phone'] }}{% endif %}" name="phone" type="tel" placeholder="Введите номер телефона"></div>
            <div class="register-elem auth-elem"><input value="{% if message %}{{ data['email'] }}{% endif %}" name="email" type="email" placeholder="Введите почту"></div>
            <div class="register-elem auth-elem"><input name="password" type="password" placeholder="Введите пароль"></div>
            <div class="register-elem auth-elem"><input name="password_again" type="password" placeholder="Введите пароль повторно"></div>
            <button class='auth-elem auth-submit' type="submit">Зарегестрироваться</button>
            <h5 class="auth-logo">Уже есть аккаунт? <a href="login.html" style="text-decoration: none">Войдите</a></h5>
        </form>
    </div>
</div>
{%endblock%}