{% extends "base.html" %}

{% block title %}
Зарегестрироваться
{%endblock%}

{% block main %}
<form action='' method="post">
    <input name="name" type="text" placeholder="Введите имя">
    <input name="surname" type="text" placeholder="Введите фамилию">
    <input name="phone" type="tel" placeholder="Введите номер телефона">
    <input name="email" type="email" placeholder="Введите почту">
    <input name="password" type="password" placeholder="Введите пароль">
    <input name="password_again" type="password" placeholder="Введите пароль повторно">
    <button type="submit">Зарегестрироваться</button>
</form>
{%endblock%}