.main_nav{
    position: fixed;
    height: 100px;
    width: 100%;
    opacity: .9;
    z-index: 999;
    background-color: #121618;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.icon{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.icon h1{
    position: absolute;
    left: 5%;
}

.link{
    color: #ffffffb3;
    text-decoration: none;
    font-weight: 500;
    transition: .4s;
}
.link:hover{
    color: #fac564;
}
.link:focus{
    color: #fac564;
}